<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>in.Touch</title>
  </head>
  <body>
    <div class="container">
      <h1>in.Touch</h1>
      <%if(currentUser){%>
        <h2>Welcome <%=currentUser.username%></h2>
        <a class="button" href="/app">GET IN TOUCH</a>
        <form action="/sessions?_method=DELETE" method="POST">
          <input class="button" type="submit" value="Log Out">
        </form>
      <%} else {%>
        <a class="button" href="/users/new">New Account</a>
        <a class="button" href="/sessions/new">Log In</a>
      <%}%>
    </div>
  </body>
</html>
