<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcom Page</title>
  </head>
  <body>
    <h1>in.Touch</h1>
    <div class="container">
      <%if(currentUser){%>
        <h2>Welcome <%=currentUser.username%></h2>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out">
        </form>
      <%} else {%>
        <h2><a class="button" href="/users/new">New Account</a></h2>
        <h2><a class="button" href="/sessions/new">Log In</a></h2>
      <%}%>
    </div>
  </body>
</html>
