<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcom Page</title>
  </head>
  <body>
    <h1>in.Touch</h1>
    <div class="container">
      <h2><a class="button" href="#">New Account</a></h2>
      <h2><a class="button" href="#">Log In</a></h2>
    </div>
  </body>
</html>
