html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  background-image: url('https://cdn.pixabay.com/photo/2017/10/13/12/29/hands-2847508_960_720.jpg');
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2.5em;
  color: white;
}
h2 {
  color: white;
  font-size: 2em;
}
a {
  display: block;
}
.button {
  display: block;
  background-color: #ff6a68;
  color: white;
  padding: 5%;
  margin: 5% auto;
  border: 2px solid white;
  border-radius: 12px;
  text-decoration: none;
}
.room {
  font-size: 1.5em;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 15% auto;
}
.active {
  background-color: #acf08a;
}
aside {
  float: left;
  height: 100%;
  width: 20%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #0451ab;
  text-align: center;
}
#messages {
  position: fixed;
  width: 76%;
  height: 90%;
  margin-left: 24%;
  right: 0;
  top: 0;
  overflow: auto;
}
.msg {
  display: block;
  width: 60%;
  margin: 2%;
  padding: 1% 2% 1% 2%;
  overflow-wrap: break-word;
  background-color: lightgray;
  border-radius: 12px;
  font-size: 3em;
}
.mine {
  background-color: #0451ab;
  color: white;
  margin-left: auto;
  margin-right: 2%;
}
p {
  margin-top: 0;
  padding: 0;
}
.indent {
  margin: 5%;
}
#message-form {
  width: 74%;
  height: 10%;
  position: absolute;
  top: 90%;
  left: 25%;
  display: inline;
  overflow: hidden;
}
input {
  width: 80%;
  font-size: 3em;
  border-radius: 12px;
  padding: 1%;
}
input[type=submit]{
  border: none;
  width: 8%;
  font-size: 3em;
  margin-left: 2%;
  background-color: #ff6a68;
  color: white;
}
