<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DEVELOPMENT</title>
  </head>
  <body>
    <h1>in.Touch</h1>
    <%let thisUser = user%>
    <h3 id="user"><%=thisUser.username%></h3>
    <a href="/app"><h2>MAIN CHAT</h2></a>
    <a href="/app/development"><h2>DEVELOPMENT</h2></a>
    <a href="/">BACK</a>
    <ul id="messages">
      <%for(let i = 0; i < messages.length; i++){%>
        <li><%=messages[i].name%> : <%=messages[i].message%></li>
      <%}%>
    </ul>
    <form id="message-form" action="" method=""> <!-- /app, POST -->
      <input placeholder="Message..." id="message" autocomplete="off">
      <input type="submit" id="submit" value="SEND">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(()=>{
        console.log('im running client function');
        let socket = io();
        socket.on('connect', ()=>{
          let id = socket.id;
          console.log(id);
        });
        $('form').on('submit', (event)=>{
          console.log('im emiting message');
          event.preventDefault();
          let $name = $('#user').text();
          let $message = $('#message').val();
          console.log($name, $message);
          socket.emit('chat message', {name: $name, message: $message, room: 'dev'});
          $('#messages').append($('<li>').text($name + ': ' + $message));
          $('#message').val('');
          return false;
        });
        socket.on('dev', (data)=>{
          console.log('im receiving message back');
          $('#messages').append($('<li>').text(`${data.name}: ${data.message}`));
          window.scrollTo(0, document.body.scrollHeight);
        });
      });
    </script>
  </body>
</html>
