<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MAIN CHAT</title>
  </head>
  <body>
    <h2>MAIN CHAT</h2>
    <form action="/app" method="POST">
      <input placeholder="Message" type="text" name="message" required>
      <h2><a href="/app/messages">SEND</a></h2>
      <div class="message-box">

      </div>
    </form>
  </body>
</html>
