<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MAIN CHAT</title>
  </head>
  <body>
    <h2>MAIN CHAT</h2>
    <h3 id="user"><%=name%></h3>
    <ul id="messages">
      <%for(let i = 0; i < messages.length; i++){%>
        <%=messages[i].name%> : <%=messages[i].message%><br>
      <%}%>
    </ul>
    <form id="message-form" action="" method=""> <!-- /app, POST -->
      <input placeholder="Message..." id="message" autocomplete="off">
      <input type="submit" id="submit" value="SEND">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(()=>{
        console.log(name);
        console.log('im running client function');
        let socket = io();
        $('form').on('submit', (event)=>{
          console.log('im emiting message');
          event.preventDefault();
          socket.emit('chat message', $('#user').text(), $('#message').val());
          $('#messages').append($('<li>').text($('#user').text() + ': ' + $('#message').val()));
          $('#message').val('');
          return false;
        });
        socket.on('emitting', (name, message)=>{
          console.log('im receiving message back');
          $('#messages').append($('<li>').text(name + ": " + message));
          window.scrollTo(0, document.body.scrollHeight);
        });
      });
    </script>
  </body>
</html>
