<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MAIN CHAT</title>
  </head>
  <body>
    <h2>MAIN CHAT</h2>
    <form action="/app" method="POST">
      <input placeholder="Message..." type="text" name="message" required>
      <input type="submit" value="SEND">
      <div class="message-box">
        <%for(let i = 0; i < messages.length; i++){%>
          <%=messages[i].name%> : <%=messages[i].message%><br>
        <%}%>
      </div>
    </form>
  </body>
</html>
