<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>in.Touch</title>
  </head>
  <body>
    <div class="container">
      <h1>in.Touch</h1>
      <h2>New Account</h2>
      <form action="/users" method="POST">
        <input placeholder="Username" id="username" type="text" name="username" required>
        <input placeholder="Password" type="password" name="password" required>
        <button class="button" type="submit" name="action">Create</button>
      </form>
    </div>
  </body>
</html>
